@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #22223B;
}

/* Change the scrollbar track (background) */
::-webkit-scrollbar {
  width: 15px; /* Width for vertical scrollbar */
  height: 12px; /* Height for horizontal scrollbar */
}

/* Change the thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Apply the blur for glassmorphism */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 6px; /* Rounded edges for a sleek look */
  border: 0px solid rgba(255, 255, 255, 0.2); /* Optional border for depth */
}

/* Change the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #adabab; /* Darker on hover */
}

/* Change the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly visible track */
  border-radius: 6px;
}

